.app-container {
  border-radius: 5px;
  height: auto;
  width: 60%;
  height: 50%;
  background-image: linear-gradient(
    rgb(0, 68, 255) 20%,
    rgba(255, 166, 0, 0.8) 80%
  );
  margin-top: 2%;
  min-width: 650px;
  padding-bottom: 54px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.77);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 54px;
}
