.header {
  text-align: center;
  color: rgba(255, 166, 0, 0.8);
font-size: 24px;
margin-bottom: 10px;
}

.total {
  text-align: center;
font-size: 40px;
font-weight: bold;
color: rgba(255, 166, 0, 0.8);
}

.results, .score {
  flex: 1;
}



.result {
  font-size: 20px;
  margin-bottom: 5px;
}

.result-list {
  list-style: none;
  align-items: center;
  justify-content: center;
}


.result-container {
    margin-top: 20%;
    width: 40%;
    min-width: 650px;
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(
    rgb(0, 68, 255) 20%,
      rgba(255, 166, 0, 0.8) 80% );
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
  
  }
  
  .score-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  
  

  
